h1{
    color: rgba(221, 25, 100, 0.808);
    font-size: 60px;
    font-family:serif;
}
img{
    height: 700px;
    width: 700px;
}
h2{
    font-family:serif;
    font-size: 30px;
    color: rgba(221, 25, 100, 0.808);
}
p{
  font-size: 30px;
  font-family: serif;
  color: rgba(221, 25, 100, 0.808);
  font-weight: 600;
}
table{
size: 40;

}